* {
    font-family: var(--font-comfortaa);
    margin: 0;
    padding: 0;
  }
  
  body {
    background: linear-gradient(-45deg, #BBFFEB, #C3EAFF, #80dcc7, #96b7f8);
    background-size: 400% 400%;
    animation: gradientShift 10s linear infinite;
    min-height: 100vh;
  }

  @keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 1024px) {
  body {
    animation: gradientShift 15s ease infinite; 
  }
}

