*{
  font-family: var(--font-comfortaa);
  margin: 0;
  padding: 0;
}

body{
  background: linear-gradient(-45deg, #BBFFEB, #C3EAFF); 
}

.donate-wrapper {
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 275px;        
}

.donate{
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.donate:hover{
  transform:rotateX(360deg);
}
